<html>
    <head>
        <title>Django Girls blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        
        
        {% for post in posts %}
    <div>
		<h1><a href="">{{ post.title }}</a></h1>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
<!--
		<div>
            {{posts}}
        </div>

        <div>
            {{posts}}
        </div>
        <div>
			{{posts}}
        </div>

        <div>
			{{posts}}
			
        </div>
-->
    </body>
</html>